{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Gallery</h1>

<p class="text-center">A collection of my work including illustatrations, logos, icons, and websites designed by me.</p>

<div class="row mb-5">
 <div class="col">
  <h3 class="text-center">Illustrations</h3>

<div class="slider" id="slider">
  <a id="prevBtn" href="#/" class="previous round hide">&#8249;</a>
  <a id="nextBtn" href="#/" class="next round hide">&#8250;</a>
<div class="holder">

  	<div class="slide"><img src="https://c2.staticflickr.com/8/7918/44605436390_21d3a8938e_c.jpg"></div>

    <div class="slide"><img src="https://c2.staticflickr.com/8/7922/46383962532_82c4b1c296_c.jpg"></div>
    <!--first displayed slide is also last*-->
    
    <div class="slide"><img src="https://c2.staticflickr.com/8/7806/46383908052_1c0845bb92_c.jpg"></div>

    <div class="slide"><img src="https://c2.staticflickr.com/8/7853/46383912412_58440c62b9_c.jpg"></div>
    
     <div class="slide"><img src="https://c1.staticflickr.com/5/4893/45698500624_e742541669_c.jpg"></div>

    <div class="slide"><img src="https://c1.staticflickr.com/5/4844/31494668897_5d09eb6afa_c.jpg"></div>

    <div class="slide"><img src="https://c2.staticflickr.com/8/7918/44605436390_21d3a8938e_c.jpg"></div>
    <!--last displayed slide is also first-->

    <div class="slide"><img src="https://c2.staticflickr.com/8/7922/46383962532_82c4b1c296_c.jpg"></div>
  </div>
</div>

<div class="buttonContainer">
 <div class="playpause">
    <input type="checkbox" value="None" id="playpause" name="check" checked>
    <label for="playpause" id="hit"></label>
    </div>
</div>


</div>

 </div>
</div>

<div class="row mb-5">
 <div class="col">
  <h3 class="text-center">Logos</h3>
<div class="box"></div>
 </div>
</div>

<div class="row mb-5">
 <div class="col">
  <h3 class="text-center">Icons</h3>
<div class="box"></div>
 </div>
</div>



<div class="row mb-5">
 <div class="col"><h3 class="text-center">Websites</h3>
<div class="box"></div></div>
</div>


  

</div>


{% endblock %}