{% extends 'base.html' %}
{% block title %}| Gallery Design Detail{% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center pt-4">Gallery</h1>
    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
            <img class="gallery-image" src="{{ design.sub_design.url }}" alt="An image of the design">
        </div>
    </div>
    <div class="row mb-4">
            <div class="col-md-8 offset-md-2 ">
                <div class="row">
                    <div class="col"><h4>Design Details</h4></div>
                </div>
                    <div class="row">
                                      <div class="col-4 mycard-category">Type</div>
                                      <div class="col-8 border-bottom">{{ design.type }}  </div>
                                  </div>
                    <div class="row mb-5">
                                      <div class="col-4 mycard-category">Description</div>
                                      <div class="col-8 border-bottom"><p>{{ design.description }}</p></div>
                                  </div>
                    <div class="row">
                                      <div class="col-12"><h3>Testimonial by {{ design.customer }}</h3></div>
                                      <div class="col-12"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                      Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam.</p></div>
                                </div>
            </div>
    </div>
</div>
  
{% endblock %}