{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Gallery</h1>

<p class="text-center">A collection of my work including illustatrations, logos, and icons designed by me.</p>

<div class="row mb-5">
 <div class="col">
  <h3 class="text-center">Illustrations</h3>

<div class="row mb-5">
 <div class="col">
  <h3 class="text-center">Logos</h3>
<div class="box"></div>
 </div>
</div>

<div class="row mb-5">
 <div class="col">
  <h3 class="text-center">Icons</h3>
<div class="box"></div>
 </div>
</div>



<div class="row mb-5">
 <div class="col"><h3 class="text-center">Websites</h3>
<div class="box"></div></div>
</div>


  

</div>


{% endblock %}