{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="main-container">
    <div class="lion-image-container">
        <img src="{% static 'images/blacklion01.png' %}">
        <!--<div class="ring"><img src="{% static 'images/ring.png' %}"></div>-->
    </div>
    <div class="title-container">
        <h1>Agents of Design</h1>
    </div>
    <div class="logo-container"></div>
</div>
    <div class="container">
        <div data-aos="fade-up">
            <div class="row">
                <div class="col introBlurb mb-5">
                    <h1>Agents of Design Welcomes You</h1>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Aliquet lectus proin nibh nisl. Amet tellus cras adipiscing enim eu. Faucibus nisl tincidunt eget nullam non nisi. Nisl tincidunt eget nullam non nisi est sit amet facilisis. 
                    </p>
                </div>
            </div>
        </div>
 
        <div data-aos="fade-up" class="row mb-5">
            <div class="col-md-6 order-md-1">
                <div class="box"><img src="{% static 'images/skull.jpg' %}"></div>
            </div>
            <div class="col-md-6 order-md-2">
                <h4>01. ORDER</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Aliquet lectus proin nibh nisl. Amet tellus cras adipiscing enim eu. Faucibus nisl tincidunt eget nullam non nisi. Nisl tincidunt eget nullam non nisi est sit amet facilisis.</p>
            </div>
        </div>
        <div data-aos="fade-up" class="row mb-5">
             <div class="col-md-6 order-md-4">
                <div class="box"><img src="{% static 'images/skull.jpg' %}"></div>
            </div>
            <div class="col-md-6 order-md-3">
                <h4>02. CREATE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Aliquet lectus proin nibh nisl. Amet tellus cras adipiscing enim eu. Faucibus nisl tincidunt eget nullam non nisi. Nisl tincidunt eget nullam non nisi est sit amet facilisis.</p>
                <p></p>
            </div>
        </div>
                <div data-aos="fade-up" class="row mb-5">
            <div class="col-md-6 order-md-5">
                <div class="box"><img src="{% static 'images/skull.jpg' %}"></div>
            </div>
            <div class="col-md-6 order-md-6">
                <h4>03. DELIVER</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Aliquet lectus proin nibh nisl. Amet tellus cras adipiscing enim eu. Faucibus nisl tincidunt eget nullam non nisi. Nisl tincidunt eget nullam non nisi est sit amet facilisis.</p>
            </div>
        </div>
        
        
        
       
    </div>

{% endblock content %}