{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


    <!--<div class="sleeve">-->
    <!--    <div class="main-image-container">-->
    <!--        <img src="{% static 'images/leaves.png' %}">-->
    <!--        <div class="main-image"><img src="{% static 'images/self-portrait.png' %}"></div>-->
    <!--        <div class="divA"></div>-->
    <!--        <div class="divB"></div>-->
    <!--        <div class="divC"></div>-->
    <!--        <div class="divD"></div>-->
    <!--    </div>-->
    
    <!--</div>-->
    <!--<div class="main-image-container">-->
        <!--->
            
    <!--</div>-->
    <!--<div class="divA"></div>-->
    <!--        <div class="divB"></div>-->
    <!--        <div class="divC"></div>-->
    <!--        <div class="divD"></div>-->
    <!--</div>-->
    
    
    <!--<div class="title-container"><h1>GDS</h1></div>-->
    <div class="main-container">
        <img src="{% static 'images/dreamstair-1.png' %}">
      
    </div>
    <div class="title-container">
        Phantistry
    </div>
    
    <div class="container">
        <div data-aos="fade-up">
            <div class="row">
                <div class="col introBlurb mb-5">
                    <h1>Welcome to Phantistry!</h1>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Aliquet lectus proin nibh nisl. Amet tellus cras adipiscing enim eu. Faucibus nisl tincidunt eget nullam non nisi. Nisl tincidunt eget nullam non nisi est sit amet facilisis. 
                    </p>
                    
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Aliquet lectus proin nibh nisl. Amet tellus cras adipiscing enim eu. Faucibus nisl tincidunt eget nullam non nisi. Nisl tincidunt eget nullam non nisi est sit amet facilisis. 
                    </p>
                    
                     <!--<div class="box mb-5"></div>-->
                     
                    <p class="mb-5">Aenean sed adipiscing diam donec adipiscing. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Tempus egestas sed sed risus pretium. Augue ut lectus arcu bibendum at. Dui faucibus in ornare quam viverra. Suspendisse in est ante in. Ut eu sem integer vitae justo eget magna fermentum iaculis. Libero nunc consequat interdum varius sit amet.</p>
                </div>
            </div>
        </div>
 
        <!--<div data-aos="fade-up" class="row mb-5">-->
        <!--    <div class="col-md-6 order-md-1">-->
        <!--        <div class="box"></div>-->
        <!--    </div>-->
        <!--    <div class="col-md-6 order-md-2">-->
        <!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Aliquet lectus proin nibh nisl. Amet tellus cras adipiscing enim eu. Faucibus nisl tincidunt eget nullam non nisi. Nisl tincidunt eget nullam non nisi est sit amet facilisis. Aenean sed adipiscing diam donec adipiscing. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Tempus egestas sed sed risus pretium. Augue ut lectus arcu bibendum at. Dui faucibus in ornare quam viverra. Suspendisse in est ante in. Ut eu sem integer vitae justo eget magna fermentum iaculis. Libero nunc consequat interdum varius sit amet.</p>-->
        <!--    </div>-->
        <!--</div>-->
        <!--<div data-aos="fade-up" class="row mb-5">-->
        <!--     <div class="col-md-6 order-md-4">-->
        <!--        <div class="box"></div>-->
        <!--    </div>-->
        <!--    <div class="col-md-6 order-md-3">-->
        <!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Aliquet lectus proin nibh nisl. Amet tellus cras adipiscing enim eu. Faucibus nisl tincidunt eget nullam non nisi. Nisl tincidunt eget nullam non nisi est sit amet facilisis. Aenean sed adipiscing diam donec adipiscing. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Tempus egestas sed sed risus pretium. Augue ut lectus arcu bibendum at. Dui faucibus in ornare quam viverra. Suspendisse in est ante in. Ut eu sem integer vitae justo eget magna fermentum iaculis. Libero nunc consequat interdum varius sit amet.</p>-->
        <!--        <p></p>-->
        <!--    </div>-->
        <!--</div>-->
        
       
    </div>

{% endblock content %}