{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="homepage-container">	
        <div class="hands-container">
        	<div class="my-image one">
        		   <img class="front" src="{% static 'images/fingerGunA.png' %}">
        	</div>			
        	<div class="my-image two">
        		<img class="front" src="{% static 'images/fingerGunB.png' %}">
        	</div>	
        </div>
		<div class="title-container">
		        <h1>Agents of Design</h1>
		</div>
		<div class="suitcase-container">
		    <div class="my-image">
		    	<img class="front" src="{% static 'images/suitcase.png' %}">
		    </div>
		</div>
	</div>
</div>	
<div class="mouseContainer">
		    <div class="scroll-link">
			<svg class="mouse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet">
				<g fill="none" fill-rule="evenodd">
					<rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36"/>
					<circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#FFF"/>
				</g>
			</svg>
		</div>
</div>

<div id="about" class="container">
    <div class="row mb-4">
        <div class="col text-center">
            <h1>Agents of Design are now accepting requests.</h1>
        </div>
    </div>
    <div data-aos="fade-up">
        <div class="row">
            <div class="col introBlurb">
                
            
                <p class="mb-5">Agents of Design provides hand-drawn illustrations as well as logos, icons and avatars. 
                            You may view previous work in the <a href="{% url 'gallery' %}">gallery</a> and read the accompanying testimonials of satisfied clients.
                </p>
                <p class="mb-5">
                    <a href="{% url 'register' %}">Register now</a> or <a href="{% url 'login' %}">login</a> to submit a <a href="{% url 'orders' %}">request</a> for your very own design. If you are unhappy with any aspect of your design, request a set of revisions for a small fee. 
                </p>
                <p class="mb-5">
                    Once you are satisfied with your design, we can say, <u>'Mission Accomplished'</u>. 
                </p>
            </div>
        </div>
    </div>
    <div class="introBlurb mb-4">
        <div class="row">
            <div class="col-4 offset-4"> <img class="logo" src="{% static 'images/AODLogo.png' %}"></div>
        </div>
       
    </div>
</div>

{% endblock content %}