<div id="mySidebar" class="sidebar page">
  <div class="closeBtnContainer">
    <div class="closebtn">Close <i class="fas fa-times"></i></div>
  </div>
  <a class="nav-link" href="{% url 'homepage' %}"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
  <a class="nav-link" href="{% url 'gallery' %}"><i class="fas fa-image"></i> Gallery</a>
  <a class="nav-link" href="{% url 'pricing' %}"><i class="fas fa-tag"></i> Request a Design</a>
  {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user-circle"></i> Profile</a>
    <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
  {% else %}
    <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user-circle"></i> Login</a>
    <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a>
  {% endif %}
</div>
  
<nav class="navbar-wrapper page">
  <div class="nav-content">
    <button class="openbtn page">
      <span class="menu-span link page">
          <a href="#" class="link">
		  <svg class="settings-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
		   <g class="settings-icon__group settings-icon__group--1">
		     <line class="settings-icon__line" x1="79.69" y1="16.2" x2="79.69" y2="83.8"/>
		     <rect class="settings-icon__rect" x="73.59" y="31.88" width="12.19" height="12.19"/>
		    </g>
		   <g class="settings-icon__group settings-icon__group--2">
		     <line class="settings-icon__line" x1="50.41" y1="16.2" x2="50.41" y2="83.8"/>
		     <rect class="settings-icon__rect" x="44.31" y="54.33" width="12.19" height="12.19"/>
		   </g>
		   <g class="settings-icon__group settings-icon__group--3">
		     <line class="settings-icon__line" x1="20.31" y1="16.2" x2="20.31" y2="83.8"/>
		     <rect class="settings-icon__rect" x="14.22" y="26.97" width="12.19" height="12.19"/>
		   </g>
		  </svg>
		 </a>
      </span>
      </button> 
    <div class="nav-brand">
      <span class="nav-title link"><a href="{% url 'homepage' %}">home</a></span>
    </div>
  </div>
</nav>