<div id="mySidebar" class="sidebar">
  <div class="closeBtnContainer">
    <div class="closebtn">Close <i class="fas fa-times"></i></div>
  </div>
  <a class="nav-link" href="{% url 'homepage' %}"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
  <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
  <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
  <a class="nav-link" href="{% url 'register' %}">Register</a>
</div>
  
<nav class="navbar-wrapper">
  <div class="nav-content">
    <button class="openbtn">☰<span class="menu-span"> Menu</span></button> 
    <div class="nav-brand">
      <span class="nav-title"><a href="{% url 'homepage' %}">Graphic Design Services</a></span>
    </div>
  </div>
</nav>