{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Pricing</h1>
<div class="row">
    <div class="col-4">
        <div class="pricePlan">
            <h3 class="text-center">Plan 1</h3>
        </div>
    </div>
    <div class="col-4">
        <div class="pricePlan">
        <h3 class="text-center">Plan 2</h3>
        </div>
    </div>
    <div class="col-4">
        <div class="pricePlan">
        <h3 class="text-center">Plan 3</h3>
        </div>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col">
        <div class="pricePlan">
        <h2 class="text-center">Calculator</h2>
        </div>
    </div>
</div>
</div>

{% endblock %}