{% extends 'base.html' %}
{% block content %}
<div class="container">


    <div class="row mb-5">
     <div class="col"><h3>Apéritif</h3></div>
     <div class="col-12"><a href="#">Visit Apéritif</a></div>
    </div>
    
    <div class="row mb-5">
     <div class="col"><h3>Routerep</h3></div>
     <div class="col-12"><a href="#">Visit Routerep</a></div>
    </div>
    
    <div class="row mb-5">
     <div class="col"><h3>The Monkees Band Page</h3></div>
     <div class="col-12"><a href="#">Visit the Band Page</a></div>
    </div>
</div>


{% endblock %}