{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Accept Design</h1>

<p>Are you sure you want to accept this design? Note: once this design is accepted, you will no longer be able to request changes. </p>

<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <fieldset class="form-group">-->
<!--        {{ form|crispy }}-->
<!--        <div class="form-group text-center">-->
<!--            <button class="btn btn-outline-info" type="submit">Accept Design</button>-->
<!--        </div>-->
<!--</form>-->
<!--Modal to write testimonial-->
<p>Write a testimonial?</p>

</div>

{% endblock %}