{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">New Order</h1>
<form id="formfield" method="POST">{% csrf_token %}
    {{ form|crispy }}
    <div class="text-center">
      <a href="{% url 'preview-order' %}"> <button type="button" id="submitBtn" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
          Preview Order
        </button></a>
    <button id="submit" class="btn btn-outline-success" type="submit">Submit Order</button>
       
    </div>
   
</form>

<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Final Order Details</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        Are you sure you want to submit the following details?-->

                <!-- We display the details entered by the user here -->
<!--                <table class="table">-->
<!--                    <tr>-->
<!--                        <th>Type</th>-->
<!--                        <td id="confirmtype"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>Description</th>-->
<!--                        <td id="confirmdescription"></td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--         <button id="submit" class="btn btn-outline-success" type="submit">Submit Order</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

</div>

{% endblock %}