{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Order List</h1>
<div class="row">
    <div class="col">
            {% for order in orders %}
            
            <div class="order-container mb-5">
        
                <h2>{{ order.type }} by {{ order.customer }}</h2>
                
                <p>€{{ order.price }}</p>
                
                
                <p>Stage: {{ order.order_stage }}</p>
                {% if order.order_stage == 'Change/s requested' %}
                <a href="#/">View Changes</a>
                {% endif %}
                
                <p class="text-muted">{{ order.time_created }}</p>
                
                <a href="{% url 'order-detail' order.id %}">Go to order</a>
            </div>
            
            {% endfor %}
    </div>
</div>




</div>

{% endblock %}