{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Preview Order</h1>

<form id="formfield" method="POST">{% csrf_token %}
    <div class="text-center">
        
        <div class="order-container mb-5">
            <h2>{{ content.type }} by {{ content.customer }}</h2>
            
            <p>{{ content.description }}</p>
            
            <p class="text-muted">{{ object.time_created }}</p>
        </div>
       <a href="{% url 'homepage' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
       <button id="submit" class="btn btn-outline-success" type="submit">Submit Order</button>
       
    </div>
   
</form>

</div>

{% endblock %}