{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block head_js %}

<script type="text/javascript" src="https://js.stripe.com/v2"></script>
<script type="text/javascript">
    Stripe.publishableKey = '{{ publishable }}';
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock head_js %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-4">Checkout</h1>
    <div class="row">
        <div class="col-12">
             <div class="mycard mb-4">
                <div class="row">
                    <div class="col mycard-title">Your Order Details</div>
                </div>
                <div class="row">
                    <div class="col-md-4 mycard-category">Type</div>
                    <div class="col-md-8">{{ type }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 mycard-category">Price</div>
                    <div class="col-md-8">{{ price }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 mycard-category">Description</div>
                    <div class="col-md-8">{{ description }}</div>
                </div>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend>Payment Details</legend>
        <div class="row">
            <div id="credit-card-errors" style="display: none;">
                <div id="alert-message block-message error" id="stripe=error-message"></div>
            </div>
            <div class="form-group col-md-6">
             {{ cd_form|crispy }}
             </div>
             <div class="form-group col-md-6">
             {{ payment_form|crispy }}
             </div>
             {% csrf_token %}
             <div class="col-md-12">
                 <input class="view-btn" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
             </div>
         </div>
    </form>
    </div>
    </div>
</div>

{% endblock content %} 