html, body {
    height: 100%;
    /*width: 100%;*/
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #102E4A;
    font-family: 'Cabin';
    display: flex;
    flex-direction: column;
}

.row {
  margin: 0;
}

.myCon {
  position: relative;
}
.container {
  padding-top: 70px;
}

.content {
    flex: 1 0 auto;
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;
}

footer {
  flex-shrink: 0;
  background-color: #64485B;

  color: #1D1E18;
  text-align: center;
}


.introBlurb {
  font-size: 2rem;
}

/*navbar styles*/

.navbar-wrapper {
    position: fixed;
    z-index: 997;
    width: 100%;
    padding: 10px;
    height: 70px;
    background-color: #102E4A;
    top: 0;
    transition: top 0.3s;
}

.nav-content {
    position: relative;
    height: 50px;
}



/*sidebar*/

.closeBtnContainer {
    height: 70px;
    position: relative;
    background-color: #FFF;
    /*color: #FFF;*/
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.translateMe {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.untranslateMe {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.sidebar a {
  padding: 8px 8px 8px 35px;
  text-decoration: none;
  font-size: 3em;
  padding-bottom: 5px;
  display: block;
  transition: 0.3s;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.sidebar a:hover {
  color: #fff;
  background-color: #1a1a1a;
}

.sidebar .closebtn {
  position: absolute;
  top: 25%;
  right: 10px;
  font-size: 1.75em;
  cursor: pointer;
  padding: 5px;
}

.openbtn {
  cursor: pointer;
  /*background-color: #1D1E18;*/
  background-color: transparent;
  color: #D499B9;
  border: none;
  font-size: 2rem;
  /*restores click functionality disabled by fixed
  positioning of parent container element(navbar)*/
  pointer-events: auto; 
 
}

.nav-brand {
  font-size: 1.75em;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-title a:link, .nav-title a:visited,
.nav-title a:hover, .nav-title:active {
    text-decoration: none;
    color: #D499B9;
}

.closebtn:hover {
  color: #1D1818;
  background-color: #F7FFF6;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 998;
}


.box {
  height: 500px;
  width: 100%;
  background-color: #990033;
}

#mySidebar .active {
    /*color:            #F8F8F8;*/
    text-decoration-line: underline;
    text-decoration-color: #fff;
}

#mySidebar .active:hover {
    /*color:            #F8F8F8;*/
    text-decoration-line: underline;
    text-decoration-color: #1D1E18;
}

.order-container {
  background-color: #fff;
  padding: 20px;
}

.blocks {
  /*width: 100vw;*/
  /*height: calc(100vh - 70px);*/
  color: #fff;
  background-color: #b48383;
  margin-top: 70px;
}


.blockOne {
  /*height: 50%;*/
  /*font-size: 75px;*/
  text-align: center;
  /*padding-top: 150px;*/
}

.blockTwo {
  /*height: 40%;*/
  padding: 20px;
  /*text-align: center;*/
}

.blockThree {
  /*height: 10%;*/
  /*position: relative;*/
  text-align: center;
}

img {
  /*height: auto;*/
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}





/*landingpage*/

/*.sleeve {*/
/*  height: calc(100vh - 140px);*/
/*  margin-top: 70px;*/
/*  overflow: hidden;*/
/*}*/

/*.main-image-container {*/
/*  width: 90vw;*/
/*  height: 90vw;*/
/*  margin-left: 5%;*/
/*  margin-right: 5%;*/
/*  margin-top: calc((100vh - 140px - 90vw)/2);*/
  /*background-color: blue;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  position: relative;*/
/*}*/
/*.main-image {*/
/*  height: 40vh;*/
/*  width: calc(40vh / 1.5);*/
/*  background-color: #D499B9;*/
/*  margin: 0 auto;*/
/*  transform: rotate(-12.5deg);*/
/*  position: absolute;*/
/*  z-index: -1;*/
/*}*/

/*.letter {*/
/*  display: inline-block;*/
/*}*/

/*.main-image-container {*/
/*  height: calc(100vh - 140px);*/
/*  width: 100vw;*/
/*  margin: 0 auto;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  position: relative;*/
/*  background-color: white;*/
/*}*/

/*.divA {*/
/*  position: absolute;*/
/*  top: 20%;*/
/*  left: 0;*/
/*    background-color: red;*/
/*  height: 20%;*/
/*  width: 20%;*/
/*}*/

/*.divB {*/
/*  position: absolute;*/
/*  top:0;*/
/*  right: 20%;*/
/*  background-color: red;*/
/*  height: 20%;*/
/*  width: 20%;*/
/*}*/

/*.divC {*/
/*  position: absolute;*/
/*  left: 20%;*/
/*  bottom: 0;*/
/*    background-color: red;*/
/*  height: 20%;*/
/*  width: 20%;*/
/*}*/

/*.divD {*/
/*  position: absolute;*/
/*  bottom: 5%;*/
/*  right:0;*/
/*    background-color: red;*/
/*  height: 20%;*/
/*  width: 20%;*/
/*}*/
/*.title-container {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  padding: 20px;*/
/*  color: #D499B9;*/
/*  height: 70px;*/
/*}*/
.main-container {
    height: calc(100vh - 70px);

    /*background-image: linear-gradient(to bottom right, #ECA72C, #990033);*/
    margin-top: 70px;
    background-color: #fff;
   
    /*justify-content: center;*/
}

/*.intro-container {*/
/*  background-color: white;*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  width: 100%;*/

/*}*/

/*.button-container {*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*}*/

/*.hero-image-container {*/
/*  background-color: white;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

/*.row {*/
/*  width: 100%;*/
/*}*/

/*.main-text-container {*/
/*   font-size: 2rem;*/
/*    color: #fff;*/
/*    margin-top: 70px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*}*/

/*.svg-container {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  height: 55%;*/
/*  margin: 0 auto;*/
/*}*/
/*    svg {*/
  /*width: 300px;*/
/*  display: block;*/
/*  position: absolute;*/

/*}*/

/*.svg-container>svg {*/
/*  max-height: 100%;*/
/*}*/


/*.hands {*/
/* text-align: center;*/
/* height: 30%;*/
/*}*/

/*.hands>img {*/
/*  max-height: 100%;*/
/*}*/

/*.mouseContainer {*/
/*  padding-top: 20px;*/
/*  height: 25%;*/
/*  text-align: center;*/
/*  background-color: #fffafa;*/
/*}*/

/*.ball, .ball2, .ball3 {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  border-radius: 50%;*/
/*}*/

/*.ball {*/
/*  background-color: grey;*/
/*}*/

/*.ball2 {*/
/*  background-color: blue;*/
/*}*/

/*.ball3 {*/
/*  background-color: black;*/
/*}*/

.designDesc {
  background-color: darkgrey;
  color: white;
  min-height: 500px;
}

.marginTop {
   margin-top: 120px
}

.profileBody {
  background-color: #fffafa;
  padding: 10px;
}
.content-section {
  position: relative;
	margin: 120px 0 60px 0;
	background: #D5DFE5;
	padding: 20px;
	color: #1a1a1a;
}

.avatar {
  position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	left: 50%;
	margin-left: -100px;
	transform: translateY(-50%);
	background: #990033;
	border: 10px solid #fffafa;
	border-radius: 50%;
}

.img-container {
      position: relative;
}

/*button styles*/

.submit-btn {
    padding: 10px 0;
    background-color: #fffafa;
    width: 100%;
    border: 2px solid #D17A22;
    color: #D17A22;
    /*color: red;*/
    /*border-radius: 10px;*/

    background: linear-gradient( to left,#fffafa 50%,     #D17A22 50% );
	  background-size: 200% 100%;
	  background-position: right bottom;
    transition: all ease .3s;
}
.submit-btn:hover{
        background-position: left bottom;
        color: white;
    }
    
.view-btn {
    padding: 10px 0;
    background-color: #fffafa;
    width: 50%;
    border: 2px solid #1B5299;
    /*color: red;*/
    /*border-radius: 10px;*/
    margin: 10px;
    background: linear-gradient( to left,#fffafa 50%,    #1B5299 50% );
	  background-size: 200% 100%;
	  background-position: right bottom;
    transition: all ease .3s;
  
}

.mycard {
  background-color: white;
}

.mycard-category {
  background-color: lightgrey;
}

.mycard-title {
  background-color: #102E4A;
  color:#D499B9;
  padding: 10px;
  font-size: 1.5rem;
}

.mycard-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.button-container {
    display: flex;
    justify-content: space-between;
}


.view-btn:hover{
        background-position: left bottom;
        color: white;
    }

.design-details {
    display: inline-block;
    position: absolute;
    background-color: white;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.design-details:hover {
  opacity: 0.6;
}

/*mouse svg*/

.scroll-link {
  /*position: absolute;*/
  /*bottom: 1.5rem;*/
  /*left: 50%;*/
  /*-webkit-transform: translateX(-50%);*/
  /*    -ms-transform: translateX(-50%);*/
  /*        transform: translateX(-50%);*/
  width: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}



@-webkit-keyframes scroll {
  0%, 20% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
  }

   10% {
      opacity: 1;
  }
  
  100% {
      -webkit-transform: translateY(36px) scaleY(2);
              transform: translateY(36px) scaleY(2);
      opacity: 0.01;
  }
}

@keyframes scroll {
  0%, 20% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
  }

   10% {
      opacity: 1;
  }
  
  100% {
      -webkit-transform: translateY(36px) scaleY(2);
              transform: translateY(36px) scaleY(2);
      opacity: 0.01;
  }
}

.scroll {
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
          animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
      -ms-transform-origin: 50% 20.5px;
          transform-origin: 50% 20.5px;
  will-change: transform;
}

.image-container {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
/*gallery*/

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	/*text-align: center;*/
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	object-fit:cover;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Individual Caption Styles */

.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}



 @media only screen and (min-width: 768px){
.sidebar {
  width: 65%;
  
}
.avatar {
				left: 10%;
				margin-left: -20px;
			  }
}

@media screen and (orientation:landscape){
/*      .svg-container {*/

/*  width: 65%;*/

/*}*/
.main-image-container {
  width: 35vw; 
  height: 35vw;
  margin-left: 32.5%;
  margin-right: 32.5%;
  margin-top: calc(( 100vh - 140px - 35vw)/2);
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
