html, body {
    height: 100%;
    /*width: 100%;*/
}



html {
  scroll-behavior: smooth;
}

body {
    background-color: #EAE7DC;
    font-family: 'Cabin';

    display: flex;
    flex-direction: column;
}

.row {
  margin: 0;
}

.myCon {
  position: relative;
}
.container {
  padding-top: 70px;
}

.content {
    flex: 1 0 auto;
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;
}

footer {
  flex-shrink: 0;
  background-color: #64485B;

  color: #1D1E18;
  text-align: center;
}

/*.account-img {*/
/*  height: 125px;*/
/*  width: 125px;*/
/*  margin-right: 20px;*/
/*  margin-bottom: 16px;*/
/*} */

/*.rounded-circle {*/
/*    border-radius: 50%!important;*/
/*}*/

.introBlurb {
  font-size: 2rem;
}

.card {
  background-color: #EAE7DC;
  border: none;
}

/*navbar styles*/

.navbar-wrapper {
    position: fixed;
    z-index: 997;
    width: 100%;
    padding: 10px;
    height: 70px;
    background-color: #EAE7DC;
    /*color: #F7FFF6;*/
    top: 0;
    transition: top 0.3s;
}

.nav-content {
    position: relative;
    height: 50px;
}



/*sidebar*/

.closeBtnContainer {
    height: 70px;
    position: relative;
    background-color: #990033;
    color: #F7FFF6;
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: #990033;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.translateMe {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.untranslateMe {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.sidebar a {
  padding: 8px 8px 8px 35px;
  text-decoration: none;
  font-size: 3em;
  padding-bottom: 5px;
  display: block;
  transition: 0.3s;
  color: #F7FFF6;
  margin-bottom: 10px;
}

.sidebar a:hover {
  color: #1D1818;
  background-color: #F7FFF6;
}

.sidebar .closebtn {
  position: absolute;
  top: 25%;
  right: 10px;
  font-size: 1.75em;
  cursor: pointer;
  padding: 5px;
}

.openbtn {
  cursor: pointer;
  /*background-color: #1D1E18;*/
  background-color: transparent;
  /*color: #F7FFF6;*/
  border: none;
  font-size: 2rem;
  /*restores click functionality disabled by fixed
  positioning of parent container element(navbar)*/
  pointer-events: auto; 
 
}

.nav-brand {
    color: #990033;
    font-size: 1.75em;
     position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-title a:link, .nav-title a:visited,
.nav-title a:hover, .nav-title:active {
    text-decoration: none;
    color: #990033;
}

/*.openbtn:hover {*/
/*  background-color: #66FCF1;*/
/*  color: #0B0C10;*/
/*}*/

.closebtn:hover {
  color: #1D1818;
  background-color: #F7FFF6;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 998;
}

.pricePlan {
  background-color: white;
  padding: 1em;
  min-height: 500px;
}

.box {
  height: 250px;
  width: 100%;
  background-color: #990033;
}

#mySidebar .active {
    /*color:            #F8F8F8;*/
    text-decoration-line: underline;
    text-decoration-color: #fff;
}

#mySidebar .active:hover {
    /*color:            #F8F8F8;*/
    text-decoration-line: underline;
    text-decoration-color: #1D1E18;
}

.order-container {
  background-color: #fff;
  padding: 20px;
}

.blocks {
  /*width: 100vw;*/
  /*height: calc(100vh - 70px);*/
  color: #fff;
  background-color: #b48383;
  margin-top: 70px;
}


.blockOne {
  /*height: 50%;*/
  /*font-size: 75px;*/
  text-align: center;
  /*padding-top: 150px;*/
}

.blockTwo {
  /*height: 40%;*/
  padding: 20px;
  /*text-align: center;*/
}

.blockThree {
  /*height: 10%;*/
  /*position: relative;*/
  text-align: center;
}

img {
  /*height: auto;*/
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*landingpage*/


.main-container {
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #990033;
}

.svg-container {
  position: relative;
  width: 100%;
  height: 55%;
  margin: 0 auto;
}
    svg {
  /*width: 300px;*/
  display: block;
  position: absolute;

}


.hands {
 text-align: center;
 height: 30%;
}

.mouseContainer {
  padding-top: 20px;
  height: 25%;
   text-align: center;
   /*background-color: #1D1E18;*/
      background-color: #EAE7DC;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: grey;

}

.ball2 {
  width: 20px;
  height: 20px;
  background-color: blue;

}


.ball3 {
  width: 20px;
  height: 20px;
  background-color: black;

}

.box-styles {
  color: black;
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  margin-bottom: 20px;
 
}

.marginTop {
   margin-top: 120px
}

.content-section {
  position: relative;
	margin: 120px 0 60px 0;
	background: #97AABD;
	padding: 20px;
}

.avatar {
  position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	left: 50%;
	margin-left: -100px;
	transform: translateY(-50%);
	background: #990033;
	border: 10px solid #EAE7DC;
	border-radius: 50%;
}

.img-container {
      position: relative;
}

.design-details {
    display: inline-block;
    position: absolute;
    background-color: white;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.design-details:hover {
  opacity: 0.6;
}

/*mouse svg*/

.scroll-link {
  /*position: absolute;*/
  /*bottom: 1.5rem;*/
  /*left: 50%;*/
  /*-webkit-transform: translateX(-50%);*/
  /*    -ms-transform: translateX(-50%);*/
  /*        transform: translateX(-50%);*/
  width: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

@-webkit-keyframes scroll {
  0%, 20% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
  }

   10% {
      opacity: 1;
  }
  
  100% {
      -webkit-transform: translateY(36px) scaleY(2);
              transform: translateY(36px) scaleY(2);
      opacity: 0.01;
  }
}

@keyframes scroll {
  0%, 20% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
  }

   10% {
      opacity: 1;
  }
  
  100% {
      -webkit-transform: translateY(36px) scaleY(2);
              transform: translateY(36px) scaleY(2);
      opacity: 0.01;
  }
}

.scroll {
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
          animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
      -ms-transform-origin: 50% 20.5px;
          transform-origin: 50% 20.5px;
  will-change: transform;
}



 @media only screen and (min-width: 768px){
.sidebar {
  width: 65%;
  
}
.avatar {
				left: 10%;
				margin-left: -20px;
			  }
}

@media screen and (orientation:landscape){
      .svg-container {

  width: 65%;


}
}
