{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
      <div class="media pt-4">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
              <div class="form-group text-center">
                  <button class="btn btn-outline-info" type="submit">Update</button>
              </div>
          </fieldset>
      </form>
      
      <div class="row">
        <div class="col-6">
        {% if orders %}
        <h3>Designs Requested</h3>
          {% for order in orders %}
          <p>{{ order.type }}</p>
          <p>{{ order.time_created }}</p>
         {% endfor %}
        {% else %}
        <p>No orders made yet!</p>
        {% endif %}</div>

      <div class="col-6">
      {% if designs %}
       <h3>Completed Designs</h3>
       {% for design in designs %}
       
       <a href="{{ design.source_code.url }}" download> Download source code </a>
       <img src="{{ design.preview_image.url}}">
       <div class="row">
         <div class="col"><a href="#">Accept</a></div>
         <div class="col"><a href="{% url 'request-changes' parameter=design.id %}">Request Changes</a></div>
       </div>
       
       
       {% endfor %}
       {% else %}
       <p>No orders made yet!</p>
      
      {% endif %}
        </div>
      </div>
      
      
      
     
       
       
      <!--<div class="row">-->
      <!--  <div class="col"><h3>My Submitted Orders</h3></div>-->
      <!--</div>-->
      
      
      <!--<div class="row">-->
      <!--  <div class="col">-->
      <!--    <h3>My Orders Pending Approval</h3>-->
      <!--    <button>Approve</button>-->
      <!--    <button>Request Changes</button>-->
      <!--  </div>-->
      <!--</div>-->
      
      
      
      <!--<div class="row">-->
      <!--  <div class="col">-->
      <!--    <h3>My Accepted Orders</h3>-->
      <!--    <button>Write Testimonial</button>-->
      <!--  </div>-->
      <!--</div>-->
      
      
      <!--<div class="userOrders">-->
      <!--    <h2>My Orders</h2>-->
      <!--    {% for order in orders %}-->
      <!--      <h3>{{ order.type }}</h3>-->
      <!--      <a href="{% url 'order-detail' order.id %}">Go to order</a>-->
      <!--    {% endfor %}-->
      <!--    <a href="{% url 'create-order' %}">Make an order</a>-->
      <!--</div>-->
      
      
    </div>
</div>
{% endblock content %} 