{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
       <div>
        <img class="avatar" src="{{ user.profile.image.url }}">
       </div>
     <!--main container-->
     <div class="row marginTop">
         <!--details section-->
         <div class="col-md-4">
             <div class="row">
                 <div class="col-12">
                    <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <fieldset class="form-group">
                              <legend class="border-bottom mb-4">Profile Info</legend>
                              {{ u_form|crispy }}
                              {{ p_form|crispy }}
                              <div class="form-group text-center">
                                  <button class="btn btn-outline-info" type="submit">Update</button>
                              </div>
                          </fieldset>
                    </form>
                </div>
                 <div class="col-12">
                     <h3 class="text-center"><u>My Orders</u></h3>
                        {% if orders %}
                          {% for order in orders %}
                          <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Order No. {{ order.id }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ order.type }}</h6>
                                <p class="card-text">{{ order.description }}</p>
                              </div>
                          </div>
                         {% endfor %}
                        {% else %}
                          <p>No orders made yet!</p>
                        {% endif %}
                 </div>
             </div>
         </div>
         <!--designs section-->
         <div class="col-md-8">
             <div class="col-12">
            {% if designs %}
            <h5>Pending</h5>
            {% if design.order_stage == "Design pending approval" or design.order_stage == "Revisions requested" %}
               {% for design in designs %}
                   {% if design.order_stage == "Revisions requested"  %}
                    
                        <div class="card">
                      <div class="card-body">
                        <h6 class="card-title"> Order no. {{ design.order_number }}</h6>
                        <h7 class="card-subtitle mb-2 text-muted">{{ design.type }}</h7>
                        <p class="card-text">{{ design.order_number.description }}</p>
                        <img src="{{ design.preview_image.url}}">
                        <a href="{% url 'design-detail' parameter=design.id %}" class="card-link">View Design</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
                     {% elif design.order_stage == "Revisions requested"  %}
                        <div class="card">
                      <div class="card-body">
                        <h6 class="card-title"> Order no. {{ design.order_number }}</h6>
                        <h7 class="card-subtitle mb-2 text-muted">{{ design.type }}</h7>
                        <p class="card-text">{{ design.description }}</p>
                        <img src="{{ design.preview_image.url}}">
                        <a href="{% url 'design-detail' parameter=design.id %}" class="card-link">View Design</a>
                        <p>Revisions requested</p>
                      </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                       <p>No designs pending approval</p>
            {% endif %}
            {% endif %}
             
                </div>
                <div class="col-12">Completed Designs
    {% if designs %}
      {% for design in designs %}
        {% if design.order_stage == "Design accepted"  %} 
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title"> Order no. {{ design.order_number }}</h6>
                    <h7 class="card-subtitle mb-2 text-muted">{{ design.type }}</h7>
                    <p class="card-text">{{ design.order_number.description }}</p>
                    <img src="{{ design.preview_image.url}}">
                    <a href="{% url 'design-detail' parameter=design.id %}" class="card-link">View Design</a>
                    <a href="#">Write Testimonial</a>
                </div>
            </div>
        {% else %}
            <p>No completed designs available</p>
        {% endif %}
      {% endfor %}
    {% else %}
        <div class="col">
            <p>No completed designs</p>
        </div>
    {% endif %}
</div>
             </div>
         </div>
    </div>
</div>
{% endblock content %} 