{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
      <div class="media pt-4">
        <img class="account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
              <div class="form-group text-center">
                  <button class="btn btn-outline-info" type="submit">Update</button>
              </div>
          </fieldset>
      </form>
      <div class="row">
        <div class="col-12">
            {% if orders %}
            <h3 class="text-center"><u>Designs Requested</u></h3>
              {% for order in orders %}
              <p>{{ order.type }}</p>
              <p>{{ order.time_created }}</p>
             {% endfor %}
            {% else %}
              <p>No orders made yet!</p>
            {% endif %}
        </div>
      </div>

          
      <!--Design Section   -->
      <div class="row">
       <div class="col-12 text-center"><h2><u>Design Section</h2></u></div>
       <div class="col-6">
           <h4>Submitted Designs</h4>
           {% if designs %}
               {% for design in designs %}
                   {% if design.order_stage == "Design pending approval"  %} 

                        <h4>Pending... Order no. {{ design.order_number }}</h4>
                        <p>Desc {{ design.order_number.description }}</p>
                        <a href="{{ design.source_code.url }}" download> Download source code </a>
                        <img src="{{ design.preview_image.url}}">
                        <div class="row">
                           <div class="col"><a href="{% url 'design-detail' parameter=design.id %}">View Design</a></div>
                           <!--<div class="col"><a href="{% url 'request-changes' parameter=design.id %}">Request Changes</a></div>-->
                        </div>
         
                   {% elif design.order_stage == "Revisions requested" %}
        
                        <h4>Revisions... Order no. {{ design.order_number }}</h4>
                        <p>Desc: {{ design.description }}</p>
                        <!--<a href="{{ design.source_code.url }}" download> Download source code </a>-->
                        <img src="{{ design.preview_image.url}}">
                        <div class="row">
                           <div class="col"><a href="#">Revisions requested</a></div>
                        </div>
                    {% else %}
                     <p>No designs pending approval</p>
         
                    {% endif %}
                {% endfor %}
           {% else %}
           <p>No designs pending approval</p>
           {% endif %}
       </div>
    
      <div class="col-6">
      <!--Completed Orders-->
      <h4>Approved Designs</h4>
      {% if designs %}
      {% for design in designs %}
                   {% if design.order_stage == "Design accepted"  %} 
                      <h4>Completed... Order no. {{ design.order_number }}</h4>
                      <p>Desc {{ design.order_number.description }}</p>
                         
                      <!--<a href="{{ design.source_code.url }}" download> Download source code </a>-->
                      <img src="{{ design.preview_image.url}}">
                      <div class="row">
                          <div class="col"><a href="#">Write Testimonial</a></div>
                      </div>
                      
                     {% else %}
                     
                      <p>No completed designs available</p>
           
         
                     {% endif %}
       {% endfor %}
       {% else %}
          <div class="col"><p>No completed designs</p></div>
      
       {% endif %}
        
        </div>
        </div>
    </div>
</div>
{% endblock content %} 