{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}| Create Order{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center pt-4">New Order</h1>
    <form id="formfield" method="POST">{% csrf_token %}
        {{ form|crispy }}
        <div id="price">Make a selection to get a quote.</div>
        <div class="text-center">
        <button id="submit" class="view-btn" type="submit">Submit Order</button>
        </div>
    </form>
</div>

{% endblock %}