{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Customer Requests</h1>
<div class="row box-styles">
    <div class="col">
        
            <h2 class="text-center">Orders</h2>
            {% if orders %}
            
                {% for order in orders %}
                
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Order No. {{ order.id }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ order.time_created }}</h6>
                    <p class="card-text">{{ order.type }} requested by {{ order.customer }}</p>
                    <a href="{% url 'order-detail' order.id %}">Go to order</a>
                    {% if order.order_stage == 'Change/s requested' %}
                    <a href="#/">View Changes</a>
                    {% endif %}
                  </div>
                </div>
                
                {% endfor %}
                
            {% else %}
            
            <p>No designs requested. Bummer.</p>
            
             
            {% endif%}
            <h2 class="text-center">Revisions</h2>
            
            {% if revisions %}
                {% for revision in revisions %}
                
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Revision No. {{ revision.id }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ revision.time_created }}</h6>
                    <p class="card-text">{{ revision.type }} requested by {{ revision.customer }}</p>
                    <a href="{% url 'revision-detail' revision.id %}">Go to Revision</a>
                  </div>
                </div>
                
                {% endfor %}
                
            {% else %}
            
            <p>No revisions requested. Snapple Apple.</p>
            {% endif %}
    </div>
</div>




</div>

{% endblock %}