{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Order Detail</h1>
 <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ object.type }} by {{ object.customer }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Time created: {{ object.time_created }}</h6>
    <p class="card-text">{{ object.description }}</p>
    <p>€{{ object.price }}</p>
    <a href="{% url 'submit-design' parameter=object.id %}">Submit Design</a>

  </div>
</div>


</div>

{% endblock %}