{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center pt-4">Order Detail</h1>

<div class="mycard">
                           <div class="row">
                                  <div class="col mycard-title">Order No. {{ order.id }}</div>
                              </div>
                              <div class="row">
                                <div class="col-md-4 mycard-category">Time Created</div>
                                <div class="col-md-8 text-muted">{{ object.time_created }}</div>
                              </div>
                              <div class="row">
                                
                                  <div class="col-md-4 mycard-category">Type</div>
                                  <div class="col-md-8">{{ object.type }} by {{ object.customer }} </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-4 mycard-category">Desription.</div>
                                  <div class="col-md-8"><p>{{ object.description }}</p></div>
                              </div>
                              <div class="row">
                                  <div class="col-md-4 mycard-category">Price</div>
                                  <div class="col-md-8"><p>{{ object.price }}</p></div>
                              </div>
                              <div class="button-container text-center">
                                <a class="view-btn" href="{% url 'submit-design' parameter=object.id %}">Submit Design</a>
                              </div>
                          </div>

</div>

{% endblock %}